body {
    background: hsl(257, 40%, 49%) url('../images/bg-mobile.svg') no-repeat center; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

header img {
    height: 60px;
}

main {
    display: flex;
    gap: 50px;
    margin-top: 72px;
}

main img {
    height: 100%;
    width: 100%;
}

main .hero {
    max-width: 878px;
}

main .hero .title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    margin-top: 52px;
}

main .hero .text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #fffe;
    margin-top: 20px;
}

main .hero .btn-register {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: hsl(257, 40%, 49%);
    padding: 12px;
    width: 200px;
    border: 1px solid hsl(257, 40%, 49%);
    border-radius: 28px;
    margin-top: 25px;
    box-shadow: 2px 2px 4px 3px hsla(260, 40%, 27%, 0.275);
    transition: 0.3s;
}

main .hero .btn-register:hover {
    color: #fff;
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
}

footer .social ul {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

footer .social a i {
    font-size: 18px;
    color: #fff;
    border: 1px solid #fff;
    padding: 6px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;
}

footer .social a:hover i {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}